::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #414141;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
}

@font-face {
  font-family: "Sf-Regular";
  src: url(SFPRODISPLAYREGULAR.OTF) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sf-Medium";
  src: url(SFPRODISPLAYMEDIUM.OTF) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Sf-Bold";
  src: url(SFPRODISPLAYBOLD.OTF) format("truetype");
  font-weight: 600;
  font-style: normal;
}
